html {
    width: 100%;
}

body {
    margin: 0;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
}

button {
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
}

h3 {
    font-weight: 700;
    font-size: 28px;
}

.header_wrapper {
    min-height: calc(100vh - 461px);
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 48px 0;
}

.hero::before {
    background-image: url('../images/abstract-geometric-paper-texture-background-angled-design-blue-layers-copyspace-concept_279525-24375.avif');
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    z-index: -1;

    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
